@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News and Photos <span class="caret" id="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create News Item", "Create", "NewsPhotoItem")</li>
            <li>@Html.ActionLink("List All News Items", "Index", "NewsPhotoItem")</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Update Profile", "Edit", "UserProfiles")</li>
    @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Profile <span class="caret" id="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/UserProfiles/Edit">Update Profile</a></li>
            <li>@Html.ActionLink("Update Profile", "Edit", "UserProfiles")</li>
            <li>@Html.ActionLink("Update Profile", "Edit", "UserProfiles")</li>
            <li>@Html.ActionLink("Update Profile", "Edit", new { id = ViewBag.ProfileID})</li>
            <li>@Html.ActionLink("List All Profiles", "Index", "UserProfiles")</li>
        </ul>
    </li>*@
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comments <span class="caret" id="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create Comment", "Create", "Comments")</li>
            <li>@Html.ActionLink("List All Comments", "Index", "Comments")</li>
        </ul>
    </li>
}
