@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News<span class="caret" id="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create News Item", "Create", "News")</li>
            <li>@Html.ActionLink("List My News", "Index", "News")</li>
            <li>@Html.ActionLink("List All News", "AllNews", "News")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Photos<span class="caret" id="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Post New Photo", "Create", "Photo")</li>
            <li>@Html.ActionLink("Display My Photos", "Index", "Photo")</li>
            <li>@Html.ActionLink("Display All Photos", "AllPhotos", "Photo")</li>
        </ul>
    </li>
    @*<li>@Html.ActionLink("Update Profile", "Edit", "UserProfiles")</li>*@   
    
}
