@model MyFamilyConnect.Models.News

@{
    ViewBag.Title = "Details";    
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />

    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <blockquote>@Html.DisplayFor(model => model.Text)</blockquote>
    <p>Posted by @Model.UserProfile.FirstName @Model.UserProfile.LastName on @Model.TimeStamp.ToShortDateString()</p>

    <h4>Comments</h4>
    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments)
        {
            <dt>@comment.UserProfile.FirstName @comment.UserProfile.LastName</dt>            
            <dd>@comment.Text</dd>
        }
    </dl>
    
    @using (Html.BeginForm("CreateNewsComment", "News", FormMethod.Post, new { id = "comment-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("news-id", ViewBag.CurrentNewsId as object)
        @Html.TextArea("comment-text", new { @class="form-control" })
        <input class="btn btn-sm btn-success" type="submit" value="Add Comment" />
    }

</div>
<p>
    @if (ViewBag.CurrentUserId == Model.UserProfile.UserProfileId)
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.NewsId })
        @Html.ActionLink("Delete | ", "Delete", new { id = Model.NewsId })
    }
    
    @Html.ActionLink("My News", "Index") |
    @Html.ActionLink("All News", "AllNews")
</p>
