@model MyFamilyConnect.Models.News

@{
    ViewBag.Title = "Details";    
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>       

                       

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>

    <h4>Comments</h4>
    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments)
        {
            <dt>@comment.UserProfile.FirstName @comment.UserProfile.LastName</dt>            
            <dd>@comment.Text</dd>
        }
    </dl>
    
    @*<a href="">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>*@

    @*<div id="comment-modal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("CreateNewsComment", "News", FormMethod.Post, new { id = "comment-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("news-id", ViewBag.CurrentNewsId as object)
                    <div class="modal-body">@Html.TextArea("comment-text")</div>
                    <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                }
            </div>
        </div>
    </div>
    <button class="btn btn-info" data-toggle="modal" data-target="#comment-modal">Add Comment</button>*@
    @using (Html.BeginForm("CreateNewsComment", "News", FormMethod.Post, new { id = "comment-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("news-id", ViewBag.CurrentNewsId as object)
        @Html.TextArea("comment-text", new { @class="form-control" })
        <input class="btn btn-sm btn-success" type="submit" value="Add Comment" />
    }

</div>
<p>
    @if (ViewBag.CurrentUserId == Model.UserProfile.UserProfileId)
    {
        @Html.ActionLink("Edit |", "Edit", new { id = Model.NewsId })
    }
    
    @Html.ActionLink("My News", "Index") |
    @Html.ActionLink("All News", "AllNews")
</p>
