@model MyFamilyConnect.Models.Photo

@{
    ViewBag.Title = "Details";
    var base64 = Convert.ToBase64String(Model.Content);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <blockquote>@Html.DisplayFor(model => model.Text)</blockquote>
    <img src="@imgSrc" alt="Photo" class="small-photo" />
    <p>Posted by @Model.UserProfile.FirstName @Model.UserProfile.LastName on @Model.TimeStamp.ToShortDateString()</p>

    <h4>Comments</h4>
    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments)
        {
            <dt>@comment.UserProfile.FirstName @comment.UserProfile.LastName</dt>
            <dd>@comment.Text</dd>
        }
    </dl>

    @using (Html.BeginForm("CreatePhotoComment", "Photo", FormMethod.Post, new { id = "comment-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("photo-id", ViewBag.CurrentPhotoId as object)
        @Html.TextArea("comment-text", new { @class = "form-control" })
        <input class="btn btn-sm btn-success" type="submit" value="Add Comment" />
    }
</div>
<p>
    @if (ViewBag.CurrentUserId == Model.UserProfile.UserProfileId)
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.PhotoId })
        @Html.ActionLink("Delete | ", "Delete", new { id = Model.PhotoId })
    }
    @Html.ActionLink("My Photos", "Index") |
    @Html.ActionLink("All Photos", "AllPhotos")
</p>
   
    
